/.perltidyrc
/Tests/
/bin/Run-YUI-Compressor
/bin/add-css-classes-using-jquery.js
/bin/batch-inplace-html-minifier
/bin/clean-up-docbook-xhtml-1.1.xslt
/bin/common-required-deps.yml
/bin/extract-spelling-errors.pl
/bin/gen-rpm-for-build-deps
/bin/html-min-cli-config-file.conf
/bin/post-incs.pl
/bin/sort-check-spelling-file
/bin/spell-checker-iface
/bin/spell.bash
/bin/translate-Vered-XML
/docbook.css
/eslint-ts.json
/index.xhtml
/lib/
/shlomif-putting-cards-on-the-table-2019-2020
/tslint.json
